<div>
    <p>Bem vindo</p>
</div>
<nav>
    <button type="button" onclick="location.href='/'">Home</button>
    <button type="button" onclick="location.href='/generator'">Generator</button>
    <button type="button" onclick="location.href='/generator'">Sobre</button>
</nav>