<nav>
    <button type="button" class='button' onclick="location.href='/'">Home</button>
    <button type="button" class='button' onclick="location.href='/form'">Formulário</button>
    <button type="button" class='button' onclick="location.href='/about'">Sobre</button>
</nav>