<nav class='navBar'>
    <div class='navLogo' >
        <img id="plane" src="/images/plane2.png" />
        <img id="logo" src="/images/logo.gif" />  
    </div>
    <div>     
        <button type="button" class='headerButton' onclick="location.href='/'">
            <i class="fa fa-home"></i>
            Home
        </button>
        <button type="button" class='headerButton' onclick="location.href='/form'">
            <i class="far fa-file-alt"></i>
            Formulário
        </button>
        <button type="button" class='headerButton' onclick="location.href='/about'">
            <i class="fas fa-address-book"></i>
            Sobre
        </button>
    </div>
</nav>