<%- include('../components/head', { title: 'About' }) %>

<body>
    <header>
        <%- include('../components/header') %>
    </header>

    <main>
        
    </main>

    <footer>
        <%- include('../components/footer') %>
    </footer>

</body>

</html>