<%- include('../components/head', { title: 'About' }) %>

<body>
    <header>
        <%- include('../components/header') %>
    </header>

    <main class="about-main">
        <section class="about-content">
            <div>
                <a href="https://github.com/Leonardo-Meirelles" target="_blank">
                    <img src="images/github.png" alt="js" class='my-img'>
                </a>

                <a href="https://gitlab.com/leonardo.dmeirelles" target="_blank">
                    <img src="images/gitlab.png" alt="js" class='my-img'>
                </a>
                
                <a href="https://www.linkedin.com/in/leomeirelles" target="_blank">
                    <img src="images/linkedin.png" alt="js" class='my-img'>
                </a>
            </div>
            
            <div class='powered-by'>
                <div>
                    <img src="images/css-3.png" alt="css" class='prog-img'>
                    <img src="images/html.png" alt="html" class='prog-img'>
                    <img src="images/js.png" alt="js" class='prog-img'>
                </div>

                <h6>Powered by</h6>

                <div>
                    <img src="images/ejs.png" alt="ejs" class='prog-img-2'>
                    <img src="images/node.png" alt="node" class='prog-img-2'>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <%- include('../components/footer') %>
    </footer>

</body>

</html>