<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <%- include('../includes/header') %>
    </header>

    <main class='form-page-main'>
        <div class='form-div-1'>
            <h2>Reporte Inicial</h2>
            <br>
            <form class='form-1'>
                <label>Número do Processo:</label>
                <input type='number'>
            </form>
        </div>

        <div class='form-div-2'>
            <form class='form-2'>
                <fieldset class='fieldset'>
                    <div class='accident-data'>
                        <label>Classificação:</label>
                        <select id='incidentTypes'>
                            <option value='1'>Acidente</option>
                            <option value='2'>Incidente Aeronáutico</option>
                            <option value='2'>Incidente Grave</option>
                            <option value='3'>Ocorrência de Solo</option>
                        </select>

                        <label>Tipo de Ocorrência:</label>
                        <input type='text'>

                        <label>Data (UTC):</label>
                        <input type='date'>

                        <label>Horário (UTC):</label>
                        <input type='time'>

                        <label>Estado:</label>
                        <select name="estados-brasil">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>

                        <label>Cidade:</label>
                        <input type="text" />

                        <label>Aeródromo (ICAO):</label>
                        <input type="text" />
                    </div>

                    <div class='accident-data'>
                        <div class='accident-data-2-content'>
                            <label>Danos a terceiros?</label>
                            <label for='tpd-yes'>Sim</label>
                            <input type='radio' name='thirdPartyDamage' id='tpd-yes' />
                            <label for='tdp-no'>Não</label>
                            <input type='radio' name='thirdPartyDamage' id='tdp-no' />
                        </div>

                        <div class='accident-data-2-content'>
                            <legend>Houve lesão grave?</legend>
                            <label for='si-yes'>
                                Sim
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </label>
                            <input type='radio' name='severeInjure' id='si-yes' />
                            <label for='si-no'>Não</label>
                            <input type='radio' name='severeInjure' id='si-no' />
                        </div>

                        <hr>

                        <div class='accident-data-2-content'>
                            <legend>Função a bordo?</legend>
                            <label for='crew'>Tripulante</label>
                            <input type='radio' id='crew' />
                            <label for='passenger'>Passageiro</label>
                            <input type='radio' id='passenger' />
                        </div>

                        <div class='accident-data-2-content'>
                            <legend>Quantidade</legend>
                            <input type='number' />
                        </div>
                    </div>
                </fieldset>

                <fieldset class='fieldset'>
                    <div class='accident-data-3'>
                        <h3>Histórico</h3>
                        <br>
                        <textarea rows='8' cols='130'></textarea>
                    </div>
                </fieldset>
                
                <input type="button" class='addRemoveClear fa' value='&#xf067; Adicionar Aeronave'>
                <input type="button" class='addRemoveClear fa' value='&#xf068; Remover Aeronave'>
                <input type="button" class='addRemoveClear fa' value='&#xf1f8; Limpar Campos'>

                <fieldset class='fieldset'>
                    <legend>Aeronaves Envolvidas</legend>

                    <%- include('../includes/addAircraft') %>

                </fieldset>

                <button type="button" onclick="form()" id='sendButton'>
                    <i class="far fa-share-square"></i>
                    Enviar
                </button>
            </form>
        </div>
    </main>

    <footer>
        <%- include('../includes/footer') %>
    </footer>
    <script src="/assets/script.js"></script>
</body>

</html>