<%- include('../components/head', { title: 'Home' }) %>

<body>
    <header>
        <%- include('../components/header') %>
    </header>

    <main class='home-page-main'>
        <article class='about'>
            <h4>O que sou?</h4>
            <p>Sou um gerador de Registro de Ação Inicial (RAI), no formato PDF.</p>
            <p>Quando ocorre um acidente aeronáutico, sou o primeiro documento feito para descrever o acidente e dar início às investigações.</p>
        </article>
        <div>
            <img src="/images/cenipa.jpg" id='cenipaImg' />
        </div>
    </main>

    <footer>
        <%- include('../components/footer') %>
    </footer>
</body>

</html>