<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <%- include('../includes/header') %>
    </header>

    <main>
        <article class='about'>
            <h4>O que sou?</h4>
            <p>Sou um gerador de Registro de Ação Inicial (RAI), no formato PDF.</p>
        </article>
        <div>
            <img src="/images/cenipa.jpg" id='cenipaImg' />
        </div>
    </main>

    <footer>
        <%- include('../includes/footer') %>
    </footer>
</body>

</html>