<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <%- include('../includes/header'); %>
    </header>

    <main>
        <div>

        </div>
        <div>
            <h4>O que sou?</h4>
            <p>Sou um gerador de Registro de Ação Inicial, no formato PDF</p>
            <h4>Como funciono?</h4>
            <p>Sou um gerador de formulários RELPREV no formato PDF</p>

        </div>
    </main>

    <footer>

    </footer>
</body>

</html>